<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="testngprac.ITestListenerTest"></listener>
</listeners>
  <test thread-count="5" name="Test" parallel="methods">
  <parameter name="Url" value="https://www.google.com"></parameter>
  <parameter name="Url2" value="https://www.Gmail.com"></parameter>
  <groups>
  <run>
  <!-- name="Sanity"-->
  <exclude name="E2E"></exclude>
  </run> 
  	</groups>
    <classes>
      <class name="testngprac.TestNgGroup">
      <methods>  
	<exclude name="OptionalTest2"/>
	</methods>  
      </class>
      <class name="testngprac.TestNGPracAnnotation"/>
      <class name="testngprac.TestNgPriority"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
